<h1 *ngIf="isAddMode">Add Employee</h1>
<h1 *ngIf="!isAddMode">Edit Employee</h1>

<div class="container-md small">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col">
                <label for="FirstName">First Name</label>
                <input id="FirstName" type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label for="MiddleName">Middle Name</label>
                <input id="MiddleName" type="text" formControlName="middleName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }" />
                <div *ngIf="submitted && f.middleName.errors" class="invalid-feedback">
                    <div *ngIf="f.middleName.errors.required">Middle Name is required</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">

                <span>
                    <input id="male" type="radio" value="male" name="gender" formControlName="gender">
                    <label for="male">Male</label>
                </span>
                <span>
                    &#160;
                </span> <span>
                    <input id="female" type="radio" value="female" name="gender" formControlName="gender">
                    <label for="female">Female</label>
                </span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="phone">Phone</label>
                <input id="phone" type="number" formControlName="phone" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">phone is required</div>
                </div>
                
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label for="Position">Position</label>
                <input id="Position" type="text" formControlName="position" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.position.errors }" />
                <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
                    <div *ngIf="f.position.errors.required">position is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="dob">Date of birth</label>
                <input id="dob" type="date" formControlName="dob" class="form-control"
                [ngModel] ="f.dob.value | date:'yyyy-MM-dd'"                      
                    />
                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                    <div *ngIf="f.dob.errors.required">Date of birth is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="salary">Salary ($)</label>
                <input id="salary" type="number" min="0" formControlName="salary" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.salary.errors }" />               
            </div>
        </div>


        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
            </button>
            <a routerLink="/employees" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>