<h1 *ngIf="isAddMode">Add Employee</h1>
<h1 *ngIf="!isAddMode">Edit Employee</h1>

<div class="container-md small">
<form [formGroup]="form" (ngSubmit)="onSubmit()">     
    <div class="form-row">      
        <div class="form-group col">
            <label for="title">Title</label>
            <input type="title" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
            </div>            
        </div>
    </div>    

    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
    </div>  

    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">Middle Name</label>
            <input type="text" formControlName="middleName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }" />
            <div *ngIf="submitted && f.middleName.errors" class="invalid-feedback">
                <div *ngIf="f.middleName.errors.required">Middle Name is required</div>
            </div>
        </div>
    </div>  

    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Middle Name is required</div>
            </div>
        </div>
    </div>  

    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">Phone</label>
            <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">phone is required</div>
            </div>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">Position</label>
            <input type="text" formControlName="position" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.position.errors }" />
            <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
                <div *ngIf="f.position.errors.required">position is required</div>
            </div>
        </div>
    </div> 
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">Date of birth</label>
            <input type="text" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">  dob is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">Salary</label>
            <input type="text" formControlName="salary" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.salary.errors }" />
            <div *ngIf="submitted && f.salary.errors" class="invalid-feedback">
                <div *ngIf="f.salary.errors.required">salary is required</div>
            </div>
        </div>
    </div>   
    
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">Add info</label>
            <input type="text" formControlName="addinfo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.addinfo.errors }" />
            <div *ngIf="submitted && f.addinfo.errors" class="invalid-feedback">
                <div *ngIf="f.addinfo.errors.required">addinfo is required</div>
            </div>
        </div>
    </div> 
 






    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/employees" class="btn btn-link">Cancel</a>
    </div>
</form>
</div>