<h1>Employees</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Employee</a>
<div class="search-wrapper m-b-1 w-50">

    <input [(ngModel)]="searchText" class="form-control form-control-dark w-150" type="text"
        placeholder="Search employee..." aria-label="Search">

</div>
<table class="table table-striped">
    <thead>
        <tr>

            <th style="width: 10%">First Name</th>
            <th style="width: 10%">Middle Name</th>
            <th style="width: 10%">Last Name</th>
            <th style="width: 10%">Gender</th>
            <th style="width: 10%">Phone</th>
            <th style="width: 10%">Position</th>
            <th style="width: 10%">Date of Birdth</th>
            <th style="width: 10%">Salary</th>
            <th style="width: 10%">Create</th>
            <th style="width: 10%"></th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let employee of employees |  filter : searchText ">



            <td>{{employee.firstName}}</td>
            <td>{{employee.middleName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.dob | date:'fullDate'}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.createdDate |date:"dd/mm/yyyy"}}</td>


            <td style="white-space: nowrap">
                <a routerLink="edit/{{employee._id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteEmployee(employee._id)" class="btn btn-sm btn-danger btn-delete-user">
                    <span *ngIf="employee.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!employee.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!employees">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>